@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  color: #7a7a7a;
}
.welcome {
  background-image: url(/dist/images/about-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  animation: bgChange 15s ease infinite;
  animation-direction: alternate;
}
nav ul li {
  color: #7a7a7a;
}
nav ul li:hover {
  color: #000;
}
.show {
  display: block;
}
@keyframes bgChange {
  0% {
    background-image: url(/dist/images/about-img.jpg);
  }
  50% {
    background-image: url(/dist/images/background.jpg);
  }
  100% {
    background-image: url(/dist/images/backgrounds.jpg);
  }
}
header{
  box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 15px;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
}
.show{
    display: none;
}
@media (max-width: 900px) {
  nav ul {
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
  }
  nav ul li {
    color: #7a7a7a;
  }
  nav ul li:hover {
    color: #f5d268;
  }
  .active {
    color: #fff;
  }
  nav {
    display: block;
    background-color: #000;
    width: 50%;
    position: fixed;
    top: 100px;
    left: 0;
    transform: translateX(200%);
    transition: all 0.5s;
    height: 100vh;
    padding-left: 40px;
  }
  .menu-bar {
    display: block;
  }
  #check:checked ~ nav {
    transform: translateX(100%);
    /* background-color: #fff;
    width: 100%; */
  }
}
